DATABASE_URL="postgresql://postgres:postgres@localhost:5432/code_airsoft"
MASTER_REINTEGRATION_PASSWORD="@As12as12qwerty"
APP_CROA_URL="https://www.codea.club/croa"
SMTP_HOST="smtp.mail.com"
SMTP_PORT="587"
SMTP_SECURE="false"
SMTP_AUTH="true"
SMTP_USER="codea@email.com"
SMTP_PASS="SUA_SENHA_AQUI"
SMTP_FROM_NAME="Equipe CROA"
SMTP_FROM_EMAIL="codea@email.com"
